.container {
  max-width: 1200px;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-family: monospace;
  text-shadow: 2px 2px lightblue;
}
.subtitle {
  color: rgb(168, 0, 0);
}
.definition {
  margin-bottom: 50px;
  font-size: 90%;
  background-image: linear-gradient(to right, #d6d6d6, #e7e4e4);
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.definition p::before {
  content: ' - ';
}
.box {
  border: 1px solid rgb(182, 182, 182);
  padding: 10px;
  margin: 20px 0;
  position: relative;
}

pre {
  color: gray;
}

.screenshot {
  height: 400px;
  max-height: 400px;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}
