.content {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  display: none;
}

.hero,
.top-news,
.scores,
.weather,
.recent-news {
  order: 10;
}

@media screen and (max-width: 610px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  .header__title {
    margin-left: 0;
    font-size: 2em;
    vertical-align: bottom;
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    /* width: 300px; */
    /* position: absolute; */
    /* This trasform moves the drawer off canvas. */
    /* -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
    /* Optionally, we animate the drawer. */
    /* transition: transform 0.3s ease; */
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: left;
  }
  /* .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #e0e0e0;
  } */
}

@media screen and (min-width: 611px) {
  .hero {
    order: 0;
    width: 60%;
  }
  .weather {
    order: 1;
    width: 40%;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    width: 50%;
  }
  .top-news {
    order: 1;
    width: 50%;
  }
  .scores {
    order: 2;
    width: 60%;
  }
  .weather {
    order: 3;
  }
}

@media screen and (min-width: 850px) {
  main,
  .header__inner,
  .nav,
  .content {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
